*{
/*font style*/
color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
text-align: center;
/*frames*/
width: fit-content; 
    box-sizing: border-box;
    margin: auto;
}
html{
    /*background*/
    background-color: #141414;
    /*funktionality*/
    scroll-behavior: smooth;
    padding: 0px;
    width: 100%;
    background-image: url(../Assets/3Dbackground.svg); 
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top 30px right -235px; 
    image-rendering:optimizeQuality;
}

header{
    /*sizing*/
    width: 100%;
    /*looks*/
    padding: 1.5rem 2rem;
    background-color: #14141455;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    /*position*/
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
}
.header_bar{
    /*sizing*/
    width: 100%;
    /*content positioning*/
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
#header_logo img{
    /*sizing*/
    object-fit: contain;
    width: 40px;
}

header_c, header_muscle{
    color: #AFAFE1;
    font-size: 25px;
    font-weight: 700;
}
header_lean{
    font-size: 25px;
    font-weight: 700;
}
#header_cleanmuscle_u_logo{
    /*positioning*/
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px;
}
#header_about_u_button{
    /*positioning*/
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 15px;
}
#header_about{
    /*text style*/
    color: #95A1AC;
    font-size: 18px;
    font-weight: 500;
}
#header_dieappholen{
    /*button style*/
    background-color: #4E4CC8;
    /*sizing*/
    padding: 10px 20px;
    border-radius: 20px;
    /*text*/
    font-weight: 500;
}

body{
    /* sizing */
    width: 100%;
    /*positioning*/
    margin-top: 8%;
}

.body_section_one{
    /* sizing */
    width: 100%;
    height: 600px;
    /*content alignment*/
    display: flex;
    padding: 0px 20px;
}
#body_section_one_text{
    /* sizing */
    width: fit-content;
    max-width: 750px;
    /* positioning */
    margin-left: 4%;
}
right{
    animation: color-change-richtig 10s;
    animation-iteration-count: infinite;
    color: #AFAFE1;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
@keyframes color-change-richtig{
    0% { color: #AFAFE1; }
    25% { color: #6d6dcf; }
    50% { color: #4E4CC8; }
    75% { color: #6d6dcf; }
    100% { color: #AFAFE1; }
}
#body_slogan p{
    /* text */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
}
hard{
    color: #ffffff6a;
    text-decoration: line-through;
    text-decoration-thickness: 8px;
    text-decoration-color: #ff3e3e;
}
#body_zielgruppe p, #body_zielgruppe{
    /*positioning/frame alignment*/
    margin: 0px;
    margin-top: 60px;
    /*text*/
    text-align: left;
    font-size: 22px;
    color: #95A1AC;
}
body_powersatz_c, body_powersatz_muscle{
    color: #AFAFE1;
}
#body_powersatz, #body_powersatz p{
    /*position*/
    margin: 0px;
    margin-top: 2%;
    /*text*/
    text-align: left;
    font-size: 22px;
    color: #95A1AC;
}
#body_button_dieappholen{
    /* positiong */
    margin: 0px;
    margin-top: 30px;
    /*button style*/
    background-color: #4E4CC8;
    /*sizing*/
    padding: 10px 20px;
    border-radius: 30px;
    /*text*/
    font-size: 22px;
    font-weight: 800;
}

.body_section_two{
    /* sizing */
    width: 100%;
    max-width: 1700px;
    /* postitioning */
    margin-top: 20%;
    /* content alignment */
    display: flex;
    gap: auto;
}
#body_section_two_card_chart,
#body_section_two_card_lamp,
#body_section_two_card_discord{
    /* sizing */
    width: 450px; 
    height: 700px; 
    /* border */
    border-radius: 50px;
    /* fill */
    background-color: #141414;
    /* content alignment */
    padding: 20px;
}
#body_section_two_card_chart img{
    /* positioning */
    float: left;
    margin: 0px 20px 20px 0px;
}
#chart_gradient{
    /* sizing */
    width: fit-content;
    height: fit-content;
    /* positioning */
    margin-top: 0px;
    /* gradient border */
    border-radius: 50px;
    padding: 1px;
    background: linear-gradient(140deg, #FF7C7B, #BF53F8, #7A84FF, #7a85ff20, #14141400);
}
#body_section_two_card_lamp img{
    /* postitioning */
    float: right;
}
#lamp_gradient{
    /* card positioning */
    margin-top: 12%;
    /* sizing */
    width: fit-content;
    height: fit-content;
    /* gradient border */
    border-radius: 50px;
    padding: 1px;
    background: linear-gradient(24deg, #F6B927, #E2BC5B, #e2bc5b90, #e2bc5b1c, #141414);
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}
#body_section_two_card_discord img{
    /* positioning */
    float: left;
    margin: 0px 20px 20px 0px;
}
#discord_gradient{
    /* sizing */
    width: fit-content;
    height: fit-content;
    /* positioning */
    margin-top: 24%;
    /* gradient border */
    border-radius: 50px;
    padding: 1px;
    background: linear-gradient(28deg, #14141400, #bc51f629, #BD51F6, #736AEF);
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}
.body_section_two h1{
    /* sizing */
    width: 100%;
    /* positioning */
    margin-left: 0px;
    margin-top: 20px;
    /* text styling */
    text-align: left;
    font-size: 45px;
}
#body_section_two_card_lamp h1{
    text-align: center;
}
.body_section_two ul,li{
    /* positioning */
    margin: 0px;
    margin-top: 30px;
    /* text styling */
    font-size: 25px;
    color: #ffffffc6;
    text-align: left;
    line-height: 150%;
}

.body_section_three{
    /* sizing */
    width: 1500px;
    padding: 10px;
    /*content alignment*/
    display: flex;
    gap: 100px;
    /* scroll function */
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}
#body_section_three_background{
    /* content alignment */
    padding: 250px 0px;
    /* sizing */
    width: 100%;
    height: fit-content;
    /* background style */
    background-image: linear-gradient(#141414, #141414cc, #141414), url(../App-sample-pages/screensbackground.svg);
    background-repeat: no-repeat;
    background-size: 2000px;
    /* position */
    margin-top: 200px;
    position: relative;
    z-index: 0;
}
.body_section_three::-webkit-scrollbar{
    height: 12px;
}
.body_section_three::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border: solid 2px #666666;
    border-radius: 50px;
} 
.body_section_three img{
    /* sizing */
    object-fit: contain;
    width: 380px;
    /* positioning */
    position: relative;
    z-index: 2;
}
#body_section_three_wilkommen_screen, 
#body_section_three_datenabfrage_screen,
#body_section_three_pläne_overview_screen,
#body_section_three_nutrition_tracking_screen{
    /* sizing */
    width: fit-content;
    /* content alignment */
    display: flex;
}
#wilkommen_screen_text,
#datenabfrage_screen_text,
#pläne_overview_screen_text,
#nutrition_tracking_text{
    /* positioning */
    margin-left: -44%;
    position: relative;
    z-index: 1;
    /* frame-sizing */
    width: 1150px;
    height: 695px;
    padding: 5%;
    /* frame styling */
    background-color: #2c2c2c;
    border-radius: 20px;
    /* scroll snap points */
    scroll-snap-align: center;
}
#wilkommen_screen_text p,
#datenabfrage_screen_text p,
#pläne_overview_screen_text p,
#nutrition_tracking_text p{
    /* sizing */
    width: 500px;
    /* positioning */
    text-align: left;
    margin-right: 0;
    margin-top: 2%;
    /* text styling */
    color: #aaaaaa;
    font-size: 25px;
}
#wilkommen_screen_text h1,
#datenabfrage_screen_text h1,
#pläne_overview_screen_text h1,
#nutrition_tracking_text h1{
    /* sizing */
    width: 500px;
    /* positioning */
    margin-right: 0;
    /* text styling */
    text-align: left;
    font-size: 40px;
    text-transform: capitalize;
}

.body_section_four{
    /* position */
    margin-top: 15%;
    margin-bottom: 200px;
}
#body_section_four_reach_out h1{
    /* text style */
    font-size: 45px;
    /* positioning */
    margin: 0px;
    margin-bottom: 30px;
}
#body_section_four_reach_out div{
    /* positioning */
    margin: 0px;
    margin-top: 20px;
    /* text style */
    color: #7a7a7a;
    font-size: 28px;
    font-weight: 300;
    line-height: 155%;
    /* text alignment */
    text-align: left;
}
#body_section_four_reach_out h3{
    /* positioning */
    margin: 0px;
    margin-top: 30px;
    /* text style */
    font-size: 30px;
}
body_section_four_c, body_section_four_muscle{
    color: #AFAFE1;
}
#body_infotexte_what_is_ectomorph{
    /* positioning */
    margin-top: 20%;
}
#body_infotexte_what_is_ectomorph h1{
    /* text style */
    font-size: 45px;
}
#body_infotexte_what_is_ectomorph_cards{
    /* positioning */
    margin-top: 20px;
    /* content alignment */
    display: flex;
    gap: 80px;
}
#body_infotexte_what_is_ectomorph_cards ul{
    /* frame style */
    background-color: #2c2c2c;
    /* sizing */
    width: 380px;
    height: 400px;
    padding: 40px;
    border-radius: 28px;
    /* text style */
    font-size: 20px;
    font-weight: 300;
    line-height: 155%;
}
#body_infotexte_what_is_ectomorph_cards h2{
    /* postioning */
    margin: 0px;
    margin-bottom: 20px;
    /* text styling */
    font-weight: 100;
}
#body_infotexte_what_is_ectomorph_cards li{
    /* text style */
    font-size: 20px;
    font-weight: 500;
    /* text alignment */
    margin: 0px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    list-style-position: outside;
}
#body_infotexte_what_is_ectomorph h3{
    /* sizing */
    width: 1150px;
    /* positioning */
    margin: auto;
    margin-top: 50px;
    /* text style */
    font-size: 30px;
    line-height: 150%;
}

.body_section_five{
    /* sizing */
    width: 800px;
    /* content alignment */
    display: flex;
    /* positioning */
    margin-bottom: 4%;
}
.body_section_five img{
    /* sizing */
    object-fit: contain;
    width: 100px;
}

.body_section_six{
    /* sizing */
    width: 98%;
    height: 500px;
    border-radius: 40px;
    /* positioning */
    margin-bottom: 1%;
    /* frame styling */
    background-color: #2c2c2c;
    /* content alignment */
    display: flex;
    overflow: hidden;
}
.body_section_six img{
    /* sizing */
    object-fit: contain;
    width: 15%;
}
#body_section_six_right{
    /* sizing */
    width: 60%;
    height: 100%;
    /* positioning */
    margin: 0px;
    /* frame styling */
    background-color: #4E4CC8;
    /* content alignment */
    padding: 40px 100px;
    align-items: left;
}
.body_section_six input, .body_section_six textarea{
    /* sizing */
    width: 100%;
    height: 100%;
    border-radius: 50px;
    /* frame styling */
    background-color: #aaaaaa;
    /* text stlying */
    font-size: 20px;
    text-align: left;
    color: #ffffff;
    border: none;
    /* content alignment */
    padding: 10px 30px;
    /* cursor */
    cursor: text;
}
#body_section_six_message textarea{
    /* sizing */
    border-radius: 25px;
    min-width: 100%;
    max-height: 100%;
    min-height: 45px;
}
.body_section_six ::placeholder{
    /* text styling */
    font-size: 20px;
    text-transform: capitalize;
    color: #7a7a7a;
    font-weight: 800;
}
#body_section_six_right h1{
    /* text styling */
    font-size: 40px;
    text-transform: uppercase;
    /* positioning */
    margin-left: 0px;
}
#body_section_six_name{
    /* sizing */
    width: 100%;
    height: 12%;
    /* positioning */
    margin-top: 20px;
    /* content alignment */
    display: flex;
}
#body_section_six_mail_field{
    /* sizing */
    width: 100%;
    height: 12%;
    /* positioning */
    margin-top: 10px;
    /* content alignment */
    display: flex;
}
#body_section_six_message{
    /* sizing */
    width: 100%;
    height: 40%;
    /* positioning */
    margin-top: 10px;
    /* content alignment */
    display: flex;
}
#body_section_six_right button{
    /* positioning */
    margin-left: 0px;
    margin-top: 10px;
    /* style */
    background-color: #AFAFE1;
    border: none;
    border-radius: 50px;
    /* content alignment */
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 8px 25px;
    /* text stlying */
    font-size: 25px;
    text-align: center;
}
#body_section_six_right button img{
    object-fit: contain;
    width: 25px;
}

footer{
    /* sizing */
    width: 100%;
    height: 300px;
    /* content alignment */
    padding: 2% 4%;
    /* styling */
    background-color: #2c2c2c8b;
}
#footer_cleanmuscle c, #footer_cleanmuscle muscle{
    /* text styling */
    color: #AFAFE1;
    font-size: 30px;
    font-weight: 600;
}
#footer_cleanmuscle lean{
    /* text styling */
    font-size: 30px;
    font-weight: 600;
}
.footer_content{
    /* sizing */
    width: 100%;
    /* posioning */
    margin-top: 0;
    /* content alignment */
    display: flex;
    justify-content: space-between;
}
.footer_content h2{
    /* positioning */
    margin: 0;
}
.footer_content h3{
    /* positioning */
    margin: 0;
    /* text styling */
    font-size: 30px;
}
.footer_content div{
    margin: 0;
}
.footer_content a{
    font-size: 20px;
    color: #7a7a7a;
}
#footer_navigate div, #footer_contact div, #footer_rechtliches div{
    /* positioning */
    margin-top: 10px;
}
#footer_contact h4{
    font-size: 20px;
    color: #aaa;
}
.footer_content_2ndrow{
    /* positioning */
    margin: 0;
    margin-top: 3%;
}
.footer_content_2ndrow h3{
    /* positioning */
    margin: 0;
    /* text styling */
    font-size: 30px;
}
.footer_content_2ndrow div{
    /* sizing */
    width: fit-content;
    /* positioning */
    margin: 0;
    margin-top: 1%;
    /* content alignment */
    display: flex;
    gap: 20px;
}
.footer_content_2ndrow img{
    /* sizing */
    object-fit: contain;
    width: 40px;
}

@media  screen and (max-width: 1500px) {
    html{
        /* background vector */
        background-size: 78%;
        background-position: top 50px right -170px;
    }
    
    header{
        /* sizing */
        padding: 0.9rem 2rem;
    }
    
    body{
        /* positioning */
        margin-top: 110px;
    }
    .body_section_one{
        /* sizing */
        height: 450px;
    }
    #body_section_one_text{
        /* positioning */
        margin-left: 3%;
    }
    #body_slogan{
        /* sizing */
        width: 550px;
    }
    #body_slogan p{
        /*text*/
        font-size: 2.9rem;
        font-weight: 700;
        line-height: 60px;
    }
    #body_zielgruppe p, #body_zielgruppe{
        /*positioning/frame alignment*/
        margin-top: 40px;
        /*text*/
        font-size: 18px;
    }
    #body_powersatz, #body_powersatz p{
        /*text*/
        font-size: 18px;
    }
    #body_section_one_vector{
        /* sizing */
        width: 100%;
        max-width: 600px;
        min-width: 460px;
    }

    .body_section_two{
        /* sizing */
        width: 100%;
        max-width: 1100px;
        /* postitioning */
        margin-top: 15%;
        /* content alignment */
        display: flex;
        gap: auto;
    }
    #body_section_two_card_chart,
    #body_section_two_card_lamp,
    #body_section_two_card_discord{
        /* sizing */
        width: 330px; 
        height: 500px; 
    }
    #body_section_two_card_chart img{
        /* sizing */
        object-fit: contain;
        width: 80px;
    }
    #chart_gradient{
        /* sizing */
        width: fit-content;
        height: fit-content;
    }
    #body_section_two_card_lamp img{
        /* sizing */
        object-fit: contain;
        width: 90px;
        /* positioning */
        margin-top: 20px;
    }
    #lamp_gradient{
        /* card positioning */
        margin-top: 11%;
        /* sizing */
        width: fit-content;
        height: fit-content;
        /* gradient border */
        border-radius: 50px;
    }
    #body_section_two_card_discord img{
        /* sizing */
        object-fit: contain;
        width: 80px;
    }
    #discord_gradient{
        /* sizing */
        width: fit-content;
        height: fit-content;
        /* positioning */
        margin-top: 22%;
        /* gradient border */
        border-radius: 50px;
    }
    .body_section_two h1{
        /* positioning */
        margin-top: 5px;
        /* text styling */
        font-size: 30px;
    }
    #body_section_two_card_discord h1{
        /* positioning */
        margin-top: 20px;
    }
    .body_section_two ul,li{
        /* sizing */
        max-width: 500px;
        /* positioning */
        margin-top: 30px;
        /* text styling */
        font-size: 18px;
        line-height: 140%;
    }
     #body_section_two_card_discord ul{
        /* positioning */
        margin-top: 50px;
    }

    .body_section_three{
        /* sizing */
        width: 1100px;
        padding: 10px;
    }
    #body_section_three_background{
        /* content alignment */
        padding: 250px 0px;
        /* position */
        margin-top: 80px;
    }
    .body_section_three img{
        /* sizing */
        width: 260px;
    }
    #wilkommen_screen_text p,
    #datenabfrage_screen_text p,
    #pläne_overview_screen_text p,
    #nutrition_tracking_text p{
        /* sizing */
        width: 400px;
        padding-right: 10px;
        /* text styling */
        font-size: 20px;
        line-height: 150%;
    }
    #wilkommen_screen_text h1,
    #datenabfrage_screen_text h1,
    #pläne_overview_screen_text h1,
    #nutrition_tracking_text h1{
        /* sizing */
        width: 400px;
    }
    #wilkommen_screen_text,
    #datenabfrage_screen_text,
    #pläne_overview_screen_text,
    #nutrition_tracking_text{
        /* frame-sizing */
        width: 800px;
        height: 490px;
    }

    .body_section_four{
        /* position */
        margin-top: 150px;
    }
    #body_section_four_reach_out h1{
        /* text style */
        font-size: 35px;
    }
    #body_section_four_reach_out div{
        /* text style */
        font-size: 22px;
    }
    #body_section_four_reach_out div b, #body_infotexte_what_is_ectomorph div b{
        /* text style */
        font-size: 22px;
    }
    #body_section_four_reach_out h3{
        /* positioning */
        margin-top: 20px;
        /* text style */
        font-size: 24px;
    }

    #body_infotexte_what_is_ectomorph{
        /* positioning */
        margin-top: 200px;
    }
    #body_infotexte_what_is_ectomorph h1{
        /* text style */
        font-size: 40px;
    }
    #body_infotexte_what_is_ectomorph_cards{
        /* content alignment */
        gap: 50px;
    }
    #body_infotexte_what_is_ectomorph_cards ul{
        /* sizing */
        height: 360px;
        width: 320px;
        border-radius: 24px;
        padding: 40px 35px;
    }
    #body_infotexte_what_is_ectomorph_cards li{
        /* text style */
        font-size: 18px;
        font-weight: 500;
        /* text alignment */
        margin-top: 10px;
    }
    #body_infotexte_what_is_ectomorph h3{
        /* sizing */
        width: 980px;
        /* positioning */
        margin-top: 20px;
        /* text style */
        font-size: 25px;
    }

    .body_section_five{
        /* sizing */
        width: 600px;
    }
    .body_section_five img{
        /* sizing */
        width: 90px;
    }
}
@media screen and (max-width: 1110px) {
    html{
        /* background vector */
        background-size: 78%;
        background-position: top 50px right -130px;
    }

    header{
        /* sizing */
        padding: 1.3rem 2rem;
    }
    #header_logo img{
        /*sizing*/
        width: 35px;
    }
    header_c, header_muscle{
        font-size: 22px;
        font-weight: 600;
    }
    header_lean{
        font-size: 22px;
        font-weight: 600;
    }
    #header_about_u_button{
        /*positioning*/
        margin: 0px;
        display: flex;
        align-items: center;
        gap: 15px;
    }
    #header_about{
        /*text style*/
        font-size: 16px;
        font-weight: 500;
    }
    #header_dieappholen{
        /* text styling */
        font-size: 16px;
    }

    #body_section_one_text{
        /* positioning */
        margin-left: 4%;
    }
    #body_slogan{
        /* sizing */
        width: 470px;
        margin: 0px;
    }
    #body_slogan p{
        /*text*/
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 45px;
    }
    #body_zielgruppe p, #body_zielgruppe{
        /* positioning */
        margin-top: 28px;
        /* sizing */
        width: 460px;
        /* text style */
        font-size: 16px;
    }
    #body_section_one_vector{
        /* sizing */
        width: 100%;
        min-width: 410px;
        max-width: 460px;
    }

    .body_section_two{
        /* sizing */
        max-width: none;
        /* postitioning */
        margin-top: 8%;
    }
    #body_section_two_card_chart,
    #body_section_two_card_lamp,
    #body_section_two_card_discord{
        /* sizing */
        width: 300px; 
        height: 490px; 
        /* border */
        border-radius: 50px;
        /* fill */
        background-color: #141414;
    }
    #body_section_two_card_chart img{
        /* sizing */
        width: 80px;
        /* positioning */
        margin-top: 20px;
        margin-left: 20px;
    }
    #chart_gradient{
        /* positioning */
        margin-top: 0px;
    }
    #body_section_two_card_lamp img{
        /* sizing */
        width: 80px;
        /* postitioning */
        margin-bottom: 20px;
        margin-right: 20px;
    }
    #lamp_gradient{
        /* card positioning */
        margin-top: 10%;
    }
    #body_section_two_card_discord img{
        /* sizing */
        width: 80px;
        /* positioning */
        margin-top: 25px;
        margin-left: 30px;
    }
    #discord_gradient{
        /* positioning */
        margin-top: 20%;
    }

    .body_section_three{
        /* sizing */
        width: 950px;
        padding: 10px;
    }
    .body_section_three img{
        /* sizing */
        width: 260px;
    }
    #wilkommen_screen_text p,
    #datenabfrage_screen_text p,
    #pläne_overview_screen_text p,
    #nutrition_tracking_text p{
        /* sizing */
        width: 350px;
        /* text styling */
        font-size: 12px;
    }
    #wilkommen_screen_text h1,
    #datenabfrage_screen_text h1,
    #pläne_overview_screen_text h1,
    #nutrition_tracking_text h1{
        /* sizing */
        width: 350px;
    }
    #wilkommen_screen_text,
    #datenabfrage_screen_text,
    #pläne_overview_screen_text,
    #nutrition_tracking_text{
        /* frame-sizing */
        width: 800px;
        height: 480px;
        padding: 4%;
    }

    .body_section_four{
        /* position */
        margin-top: 180px;
    }
    #body_section_four_reach_out h1{
        /* text style */
        font-size: 32px;
    }
    #body_section_four_reach_out div{
        /* text style */
        font-size: 20px;
    }
    #body_section_four_reach_out div b, #body_infotexte_what_is_ectomorph div b{
        /* text style */
        font-size: 20px;
    }
    #body_section_four_reach_out h3{
        /* positioning */
        margin-top: 20px;
        /* text style */
        font-size: 22px;
    }

    #body_infotexte_what_is_ectomorph{
        /* positioning */
        margin-top: 180px;
    }
    #body_infotexte_what_is_ectomorph h1{
        /* text style */
        font-size: 35px;
    }
    #body_infotexte_what_is_ectomorph_cards{
        /* content alignment */
        gap: 18px;
    }
    #body_infotexte_what_is_ectomorph_cards h2{
        /* text styling */
        font-size: 22px;
    }
    #body_infotexte_what_is_ectomorph_cards ul{
        /* sizing */
        width: 270px;
        height: 345px;
        border-radius: 23px;
        padding: 38px 30px;
        /* text styling */
        line-height: 145%;
    }
    #body_infotexte_what_is_ectomorph_cards li{
        /* text alignment */
        margin-top: 10px;
        /* text style */
        font-size: 16px;
    }
    #body_infotexte_what_is_ectomorph h3{
        /* sizing */
        width: 870px;
        /* positioning */
        margin-top: 20px;
        /* text style */
        font-size: 22px;
    }

    .body_section_five{
        /* sizing */
        width: 530px;
    }
    .body_section_five img{
        /* sizing */
        width: 75px;
    }
}
@media screen and (max-width: 950px){
    html{
        /* background vector */
        background-size: 80%;
        background-position: top 65px right -100px;
    }
    
    header{
        /* sizing */
        padding:  0.9rem 1.8rem;
    }
    #header_logo img{
        /*sizing*/
        width: 35px;
    }
    #header_about{
        /*text style*/
        font-size: 16px;
        font-weight: 500;
    }
    #header_dieappholen{
        /* text styling */
        font-size: 16px;
        /* sizing */
        padding: 8px 15px;
    }

    .body_section_one{
        padding-right: 1%;
    }
    #body_section_one_text{
        /*positioning*/
        margin-left: 2%;
        margin-right: 0px;
    }
    #body_slogan{
        /* sizing */
        width: 410px;
    }
    #body_slogan p{
        /*text*/
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 40px;
    }
    #body_zielgruppe p, #body_zielgruppe{
        /* sizing */
        width: 100%;
        /*positioning/frame alignment*/
        margin-top: 5%;
        /*text*/
        font-size: 16px;
    }
    #body_button_dieappholen{
        /*position*/
        margin-top: 20px;
        /*sizing*/
        padding: 8px 18px;
        border-radius: 30px;
        /*text*/
        font-size: 18px;
    }
    #body_section_one_vector{
        /* sizing */
        width: 100%;
        min-width: 338px;
        max-width: 460px;
    }

    .body_section_two{
        /* sizing */
        width: 100%;
        /* postitioning */
        margin-top: 10%;
        /* content alignment */
        display: flex;
        gap: auto;
    }
    #body_section_two_card_chart,
    #body_section_two_card_lamp,
    #body_section_two_card_discord{
        /* sizing */
        width: 240px; 
        height: 410px; 
        /* border */
        border-radius: 30px;
        /* content alignment */
        padding: 5px;
    }
    #body_section_two_card_chart img{
        /* positioning */
        margin: 5px 0px 0px 5px;
        /* sizing */
        object-fit: contain;
        width: 80px;
    }
    #body_section_two_card_chart h1{
        /* positioning */
        margin-top: 15px;
    }
    #chart_gradient{
        /* gradient border */
        border-radius: 30px;
    }
    #body_section_two_card_lamp img{
        /* sizing */
        object-fit: contain;
        width: 75px;
        /* positioning */
        margin: -20px 5px 5px 5px;
    }
    #body_section_two_card_lamp h1{
        /* positioning */
        margin-top: 10px;
    }
    #lamp_gradient{
        /* card positioning */
        margin-top: 12%;
        /* gradient border */
        border-radius: 30px;
    }
    #body_section_two_card_discord img{
        /* positioning */
        margin: 5px 0px 0px 5px;
        /* sizing */
        object-fit: contain;
        width: 70px;   
    }
    #body_section_two_card_discord h1{
        /* text stlying */
        font-size: 25px;
        text-align: center;
        /* positioning */
        margin-top: 20px;
    }
    #body_section_two_card_discord ul{
        /* positioning */
        margin-top: 20px;
    }
    #discord_gradient{
        /* positioning */
        margin-top: 24%;
        /* gradient border */
        border-radius: 30px;
    }
    .body_section_two h1{
        /* text styling */
        font-size: 25px;
    }
    .body_section_two ul{
        /* positioning */
        margin-top: 5px;
        /* content alignment */
        padding: 0px 30px;
    }
    .body_section_two li{
        /* positioning */
        margin-top: 10px;
        /* text styling */
        font-size: 18px;
        line-height: 140%;
    }

    .body_section_three{
        /* sizing */
        width: 765px;
        padding: 10px;
        /*content alignment*/
        gap: 80px;
    }
    .body_section_three img{
        /* sizing */
        width: 240px;
    }
    #wilkommen_screen_text p,
    #datenabfrage_screen_text p,
    #pläne_overview_screen_text p,
    #nutrition_tracking_text p{
        /* sizing */
        width: 320px;
        /* text styling */
        font-size: 12px;
        /* positioning */
        margin-right: 3%;
    }
    #wilkommen_screen_text h1,
    #datenabfrage_screen_text h1,
    #pläne_overview_screen_text h1,
    #nutrition_tracking_text h1{
        /* sizing */
        width: 320px;
        /* positioning */
        margin-right: 3%;
    }
    #wilkommen_screen_text,
    #datenabfrage_screen_text,
    #pläne_overview_screen_text,
    #nutrition_tracking_text{
        /* frame-sizing */
        width: 680px;
        height: 440px;
        padding: 3%;
    }

    .body_section_four{
        /* position */
        margin-top: 180px;
    }
    #body_section_four_reach_out h1{
        /* text style */
        font-size: 32px;
    }
    #body_section_four_reach_out div{
        /* text style */
        font-size: 20px;
    }
    #body_section_four_reach_out div b, #body_infotexte_what_is_ectomorph div b{
        /* text style */
        font-size: 20px;
    }
    #body_section_four_reach_out h3{
        /* sizing */
        width: 400px;
        /* positioning */
        margin: auto;
        margin-top: 20px;
        /* text style */
        font-size: 22px;
    }

    #body_infotexte_what_is_ectomorph{
        /* positioning */
        margin-top: 180px;
    }
    #body_infotexte_what_is_ectomorph h1{
        /* text style */
        font-size: 32px;
    }
    #body_infotexte_what_is_ectomorph_cards h2{
        /* text styling */
        font-size: 20px;
    }
    #body_infotexte_what_is_ectomorph_cards ul{
        /* sizing */
        width: 330px;
        height: 300px;
        border-radius: 23px;
        padding: 30px;
        /* text styling */
        line-height: 140%;
        scroll-snap-align: center;
    }
    #body_infotexte_what_is_ectomorph_cards{
        /* sizing */
        width: 500px;
        /*posistion*/
        margin-top: 20px;
        /*content alignment*/
        gap:200px;
        padding: 10px 85px;
        /* scroll function */
        overflow-x: auto;
        display: grid;
        grid-auto-flow: column;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    }
    #body_infotexte_what_is_ectomorph_cards::-webkit-scrollbar{
        height: 12px;
    }
    #body_infotexte_what_is_ectomorph_cards::-webkit-scrollbar-thumb {
        background: #7a7a7a46;
        border: solid 2px #7a7a7a;
        border-radius: 50px;
    } 
    #body_infotexte_what_is_ectomorph_cards li{
        /* text alignment */
        margin-top: 10px;
        /* text style */
        font-size: 16px;
    }
    #body_infotexte_what_is_ectomorph h3{
        /* sizing */
        width: 700px;
        /* positioning */
        margin-top: 20px;
        /* text style */
        font-size: 18px;
    }

    .body_section_five{
        /* sizing */
        width: 500px;
    }
    .body_section_five img{
        /* sizing */
        width: 60px;
    }

    .body_section_six{
        /* sizing */
        height: 400px;
        border-radius: 30px;
    }
    .body_section_six img{
        /* sizing */
        object-fit: contain;
        width: 15%;
    }
    #body_section_six_right{
        /* sizing */
        width: 65%;
        /* content alignment */
        padding: 20px 30px;
    }
    .body_section_six input, .body_section_six textarea{
        /* text stlying */
        font-size: 18px;
        /* content alignment */
        padding: 8px 25px;
    }
    #body_section_six_message textarea{
        /* sizing */
        border-radius: 20px;
    }
    .body_section_six ::placeholder{
        /* text styling */
        font-size: 18px;
    }
    #body_section_six_right h1{
        /* text styling */
        font-size: 35px;
        text-transform: uppercase;
        /* positioning */
        margin: auto;
    }
    #body_section_six_name{
        /* positioning */
        margin-top: 10px;
    }
    #body_section_six_mail_field{
        /* positioning */
        margin-top: 8px;
    }
    #body_section_six_message{
        /* positioning */
        margin-top: 8px;
    }
    #body_section_six_right button{
        /* positioning */
        margin-top: 8px;
        /* content alignment */
        gap: 4px;
        padding: 8px 20px;
        /* text stlying */
        font-size: 22px;
    }
    #body_section_six_right button img{
        width: 20px;
    }

    footer{
        /* sizing */
        height: 250px;
    }
    .footer_content{
        /* content alignment */
        gap: 0px;
    }
    #footer_cleanmuscle c, #footer_cleanmuscle muscle{
        /* text styling */
        font-size: 16px;
    }
    #footer_cleanmuscle lean{
        /* text styling */
        font-size: 16px;
    }
    .footer_content h3{
        /* text styling */
        font-size: 20px;
    }
    .footer_content a{
        font-size: 16px;
    }
    #footer_navigate div, #footer_contact div, #footer_rechtliches div{
        /* positioning */
        margin-top: 8px;
    }
    #footer_contact h4{
        font-size: 18px;
    }
    .footer_content_2ndrow{
        /* positioning */
        margin-top: 58px;
    }
    .footer_content_2ndrow h3{
        /* text styling */
        font-size: 20px;
    }
    .footer_content_2ndrow div{
        /* sizing */
        width: fit-content;
        /* content alignment */
        gap: 15px;
    }
    .footer_content_2ndrow img{
        /* sizing */
        object-fit: contain;
        width: 40px;
    }
}
@media screen and (max-width: 765px) {
    html{
        /* background vector */
        background-image: none;
    }

    header{
        /*sizing*/
        width: 100%;
        /*looks*/
        padding: 0.6rem 0.9rem;
    }
    #header_cleanmuscle{
        /* visibility */
        display: none;
    }
    #header_logo img{
        /*sizing*/
        width: 32px;
    }
    #header_about_u_button{
        /*positioning*/
        gap: 8px;
    }
    #header_about{
        /*text style*/
        font-size: 14px;
        font-weight: 500;
    }
    #header_dieappholen{
        /*sizing*/
        padding: 7.5px 12px;
        border-radius: 20px;
        /*text*/
        font-size: 14px;
        font-weight: 550;
    }

    .body_section_one{
        /* content alignment */
        padding: 0px 20px;
    }
    #body_section_one_vector{
        display: none;
    }
    #body_section_one_text{
        /* sizing */
        width: fit-content;
        max-width: 700px;
        /* positioning */
        margin: auto;
    }
    #body_slogan{
        /* sizing */
        width: 100%;
    }
    #body_slogan p{
        /* text */
        font-size: 40px;
        font-weight: 700;
        line-height: 45px;
    }
    hard{
        text-decoration-thickness: 6px;
    }
    #body_zielgruppe p, #body_zielgruppe{
        /*positioning/frame alignment*/
        margin-top: 50px;
        /*text*/
        font-size: 18px;
    }
    #body_powersatz, #body_powersatz p{
        /*text*/
        font-size: 18px;
    }
    #body_button_dieappholen{
        /* positioning */
        margin-top: 45px;
    }

    .body_section_two{
        /* sizing */
        width: 500px;
        /* positioning */
        margin-top: 80px;
        /* content alignment */
        display: flex;
        gap: 100px;
        padding: 10px 50px;
        /* scroll function */
        overflow-x: auto;
        display: grid;
        grid-auto-flow: column;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    }
    .body_section_two::-webkit-scrollbar{
        height: 12px;
    }
    .body_section_two::-webkit-scrollbar-thumb{
        background: #4a4a4a;
        border: solid 2px #666666;
        border-radius: 50px;
    }
    #body_section_two_card_chart,
    #body_section_two_card_lamp,
    #body_section_two_card_discord{
        /* sizing */
        width: 280px; 
        height: 390px; 
        /* border */
        border-radius: 30px;
        /* content alignment */
        padding: 15px 10px;
        /* scroll snap */
        scroll-snap-align: center;
    }
    #body_section_two_card_chart img{
        /* positioning */
        margin: 5px 0px 0px 12px;
        /* sizing */
        object-fit: contain;
        width: 70px;
    }
    #body_section_two_card_chart h1{
        /* positioning */
        margin-top: 10px;
    }
    #body_section_two_card_chart ul{
        margin-top: 25px;
    }
    #chart_gradient{
        /* gradient border */
        border-radius: 30px;
    }
    #body_section_two_card_lamp img{
        /* postitioning */
        margin-top: -15px;
        /* sizing */
        object-fit: contain;
        width: 60px;
    }
    #body_section_two_card_lamp h1{
        text-align: center;
        margin-top: 30;
    }
    #body_section_two_card_lamp ul{
        margin-top: 10px;
    }
    #lamp_gradient{
        /* card positioning */
        margin-top: 0;
        /* gradient border */
        border-radius: 30px;
    }
    #body_section_two_card_discord img{
        /* sizing */
        object-fit: contain;
        width: 60px;
        /* positioning */
        margin: 0px 0px 0px 10px;
    }
    #body_section_two_card_discord h1{
        margin-top: 15px;
    }
    #body_section_two_card_discord ul{
        margin-top: 35px;
    }
    #discord_gradient{
        /* positioning */
        margin-top: 0;
        /* gradient border */
        border-radius: 30px;
    }
    .body_section_two h1{
        /* positioning */
        margin: auto;
        /* text styling */
        text-align: center;
        font-size: 25px;
    }
    .body_section_two ul,li{
        /* positioning */
        margin-top: 10px;
        /* text styling */
        font-size: 18px;
    }

    .body_section_three{
        /* sizing */
        width: 480px;
        height: 100%;
        padding: 10px 0px;
        /*content alignment*/
        display: flex;
        gap: 80px;
        /* scroll function */
        overflow-x: auto;
        display: grid;
        grid-auto-flow: column;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    }
    #body_section_three_background{
        /* content alignment */
        padding: 0;
        /* sizing */
        width: 100%;
        height: fit-content;
        /* background style */
        background-image: linear-gradient(#141414, #141414cc, #141414), url(../App-sample-pages/screensbackground.svg);
        background-repeat: no-repeat;
        /* position */
        margin-top: 200px;
        position: relative;
        z-index: 0;
    }
    .body_section_three img{
        /* sizing */
        width: 190px;
    }
    #wilkommen_screen_text p,
    #datenabfrage_screen_text p,
    #pläne_overview_screen_text p,
    #nutrition_tracking_text p{
        /* sizing */
        width: 225px;
        /* text styling */
        font-size: 12px;
        /* positioning */
        margin-right: 2%;
    }
    #wilkommen_screen_text h1,
    #datenabfrage_screen_text h1,
    #pläne_overview_screen_text h1,
    #nutrition_tracking_text h1{
        /* sizing */
        width: 225px;
        /* positioning */
        margin-right: 2%;
    }
    #wilkommen_screen_text,
    #datenabfrage_screen_text,
    #pläne_overview_screen_text,
    #nutrition_tracking_text{
        /* positioning */
        margin-left: -48%;
        /* frame-sizing */
        width: 470px;
        height: 350px;
        padding: 3% 2%;
    }

    .body_section_four{
        /* position */
        margin-top: 160px;
    }
    #body_section_four_reach_out{
        /* sizing */
        width: 500px;
    }
    #body_section_four_reach_out h1{
        /* text style */
        font-size: 25px;
        text-align: left;
    }
    #body_section_four_reach_out div{
        /* text style */
        font-size: 16px;
    }
    #body_section_four_reach_out div b, #body_infotexte_what_is_ectomorph div b{
        /* text style */
        font-size: 16px;
    }
    #body_section_four_reach_out h3{
        /* positioning */
        margin-top: 20px;
        /* text style */
        font-size: 18px;
    }

    #body_infotexte_what_is_ectomorph{
        /* positioning */
        margin-top: 180px;
    }
    #body_infotexte_what_is_ectomorph h1{
        /* text style */
        font-size: 26px;
    }
    #body_infotexte_what_is_ectomorph_cards h2{
        /* text styling */
        font-size: 18px;
    }
    #body_infotexte_what_is_ectomorph_cards ul{
        /* sizing */
        width: 300px;
        height: 300px;
        border-radius: 23px;
        padding: 30px;
        /* text styling */
        line-height: 140%;
        scroll-snap-align: center;
    }
    #body_infotexte_what_is_ectomorph_cards{
        /* sizing */
        width: 450px;
        /*posistion*/
        margin-top: 20px;
        /*content alignment*/
        gap:200px;
        padding: 10px 75px;
        /* scroll function */
        overflow-x: auto;
        display: grid;
        grid-auto-flow: column;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    }
    #body_infotexte_what_is_ectomorph_cards::-webkit-scrollbar{
        height: 12px;
    }
    #body_infotexte_what_is_ectomorph_cards::-webkit-scrollbar-thumb {
        background: #4a4a4a;
        border: solid 2px #666666;
        border-radius: 50px;
    } 
    #body_infotexte_what_is_ectomorph_cards li{
        /* text alignment */
        margin-top: 10px;
        /* text style */
        font-size: 14px;
    }
    #body_infotexte_what_is_ectomorph h3{
        /* sizing */
        width: 420px;
        /* positioning */
        margin-top: 30px;
        /* text style */
        font-size: 16px;
    }
    
    .body_section_five{
        /* sizing */
        width: 410px;
    }
    .body_section_five img{
        /* sizing */
        width: 60px;
    }

    .body_section_six{
        /* sizing */
        height: 350px;
        border-radius: 30px;
    }
    .body_section_six img{
        /* sizing */
        object-fit: contain;
        width: 15%;
    }
    #body_section_six_right{
        /* sizing */
        width: 70%;
        /* content alignment */
        padding: 20px 30px;
    }
    .body_section_six input, .body_section_six textarea{
        /* text stlying */
        font-size: 18px;
        /* content alignment */
        padding: 8px 25px;
    }
    #body_section_six_message textarea{
        /* sizing */
        border-radius: 20px;
    }
    .body_section_six ::placeholder{
        /* text styling */
        font-size: 18px;
    }
    #body_section_six_right h1{
        /* text styling */
        font-size: 30px;
        text-transform: uppercase;
        /* positioning */
        margin: auto;
    }
    #body_section_six_name{
        /* positioning */
        margin-top: 10px;
    }
    #body_section_six_mail_field{
        /* positioning */
        margin-top: 8px;
    }
    #body_section_six_message{
        /* positioning */
        margin-top: 8px;
    }
    #body_section_six_right button{
        /* positioning */
        margin-top: 8px;
        /* content alignment */
        gap: 4px;
        padding: 5px 18px;
        /* text stlying */
        font-size: 20px;
    }
    #body_section_six_right button img{
        width: 20px;
    }

    footer{
        /* sizing */
        height: 210px;
        /* content alignment */
        padding: 2%;
    }
    .footer_content{
        /* content alignment */
        gap: 0px;
    }
    #footer_cleanmuscle c, #footer_cleanmuscle muscle{
        /* text styling */
        font-size: 16px;
    }
    #footer_cleanmuscle lean{
        /* text styling */
        font-size: 16px;
    }
    .footer_content h3{
        /* text styling */
        font-size: 20px;
    }
    .footer_content a{
        font-size: 16px;
    }
    #footer_navigate{
        margin: 0;
    }
    #footer_navigate div, #footer_contact div, #footer_rechtliches div{
        /* positioning */
        margin-top: 8px;
    }
    #footer_contact h4{
        font-size: 18px;
    }
    .footer_content_2ndrow{
        /* positioning */
        margin-top: 20px;
    }
    .footer_content_2ndrow h3{
        /* text styling */
        font-size: 20px;
    }
    .footer_content_2ndrow div{
        /* sizing */
        width: fit-content;
        /* content alignment */
        gap: 15px;
    }
    .footer_content_2ndrow img{
        /* sizing */
        object-fit: contain;
        width: 40px;
    }
}
@media  screen and (max-width: 500px) {
    html{
        /*funktionality*/
        padding: 0px;
        width: 100%;
        background-image: none;
        background-size: 0%;
        background-position: top 30px; 
    }

    header{
        /*sizing*/
        width: 100%;
        /*looks*/
        padding: 0.5rem 0.8rem;
    }
    header_c, header_muscle{
        display: none;
    }
    header_lean{
        display: none;
    }
    #header_cleanmuscle{
        /* visibility */
        display: none;
    }
    #header_cleanmuscle_u_logo{
        /*positioning*/
        gap: 0px;
    }
    #header_logo img{
        /*sizing*/
        width: 25px;
    }
    #header_about_u_button{
        /*positioning*/
        gap: 5px;
    }
    #header_about{
        /*text style*/
        font-size: 12px;
        font-weight: 500;
    }
    #header_dieappholen{
        /*sizing*/
        padding: 6px 10px;
        border-radius: 20px;
        /*text*/
        font-size: 12px;
        font-weight: 550;
    }

    body{
        /*positioning*/
        margin-top: 25%;
    }

    .body_section_one{
        /* sizing */
        width: 100%;
        padding: 0px 20px;
        /* positioning */
        margin-top: 0px;
    }
    #body_section_one_text{
        /* sizing */
        width: fit-content;
        /* positioning */
        margin: 0 5px;
    }
    #body_slogan{
        /* sizing */
        width: 100%;
    }
    #body_slogan p{
        /* text */
        font-size: 170%;
        line-height: 40px;
    }
    hard{
        text-decoration-thickness: 5px;
    }
    #body_zielgruppe p, #body_zielgruppe{
        /*positioning/frame alignment*/
        margin-top: 30px;
        /*text*/
        font-size: 14px;
    }
    #body_powersatz, #body_powersatz p{
        /*text*/
        font-size: 16px;
    }
    #body_button_dieappholen{
        /* positiong */
        margin-top: 30px;
        /*button style*/
        background-color: #4E4CC8;
        /*sizing*/
        padding: 8px 18px;
        /*text*/
        font-size: 16px;
    }

    .body_section_two{
        /* sizing */
        width: 95%;
        /* positioning */
        margin-top: 50px;
        /* content alignment */
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 10px 0px;
        /* scroll function */
        overflow-x: auto;
        display: grid;
        grid-auto-flow: column;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    }
    .body_section_two::-webkit-scrollbar{
        height: 12px;
    }
    .body_section_two::-webkit-scrollbar-thumb{
        background: #4a4a4a;
        border: solid 2px #666666;
        border-radius: 50px;
    }
    #body_section_two_card_chart,
    #body_section_two_card_lamp,
    #body_section_two_card_discord{
        /* sizing */
        width: 250px; 
        height: 400px; 
        /* border */
        border-radius: 30px;
        /* content alignment */
        padding: 15px 10px;
    }
    #body_section_two_card_chart img{
        /* positioning */
        margin: 0px 10px 10px 0px;
        /* sizing */
        object-fit: contain;
        width: 60px;
    }
    #body_section_two_card_chart ul{
        margin-top: 25px;
    }
    #chart_gradient{
        /* gradient border */
        border-radius: 30px;
    }
    #body_section_two_card_lamp img{
        /* postitioning */
        margin-top: -15px;
        /* sizing */
        object-fit: contain;
        width: 60px;
    }
    #body_section_two_card_lamp h1{
        text-align: center;
        margin-top: 10px;
    }
    #body_section_two_card_lamp ul{
        margin-top: 10px;
    }
    #lamp_gradient{
        /* gradient border */
        border-radius: 30px;
    }
    #body_section_two_card_discord img{
        /* sizing */
        object-fit: contain;
        width: 60px;
        /* positioning */
        margin: 0px 0px 0px 10px;
    }
    #body_section_two_card_discord h1{
        margin-top: 15px;
    }
    #body_section_two_card_discord ul{
        margin-top: 35px;
    }
    #discord_gradient{
        /* gradient border */
        border-radius: 30px;
    }
    .body_section_two h1{
        /* positioning */
        margin: auto;
        /* text styling */
        text-align: center;
        font-size: 25px;
    }
    .body_section_two ul,li{
        /* positioning */
        margin-top: 10px;
        /* text styling */
        font-size: 18px;
    }

    #body_section_three_background{
        /* content alignment */
        padding: 100px 0px;
        /* sizing */
        height: fit-content;
        /* background style */
        background-size: 1000px;
        /* position */
        margin-top: 150px;
    }
    .body_section_three{
        /* sizing */
        width: 300px;
        height: fit-content;
        padding: 10px 0px;
        /* positioning */
        margin: auto;
        /*content alignment*/
        display: flex;
        gap: 100px;
        /* scroll function */
        overflow-x: auto;
        display: grid;
        grid-auto-flow: column;
    }
    .body_section_three img{
        /* sizing */
        object-fit: contain;
        width: 200px;
        /* positioning */
        position: relative;
        z-index: 2;
    }
    #body_section_three_wilkommen_screen, 
    #body_section_three_datenabfrage_screen,
    #body_section_three_pläne_overview_screen,
    #body_section_three_nutrition_tracking_screen{
        /* sizing */
        width: 300px;
        height: 505px;
        /* positioning */
        margin-top: 0px;
        /* content alignment */
        display: flex;
        flex-direction: column;
        /* scroll snap points */
        scroll-snap-align: center;
        /* scroll function */
        overflow-y: scroll;
    }
    #body_section_three_wilkommen_screen::-webkit-scrollbar, 
    #body_section_three_datenabfrage_screen::-webkit-scrollbar,
    #body_section_three_pläne_overview_screen::-webkit-scrollbar,
    #body_section_three_nutrition_tracking_screen::-webkit-scrollbar{
        display: none;
    }
    #wilkommen_screen_text,
    #datenabfrage_screen_text,
    #pläne_overview_screen_text,
    #nutrition_tracking_text{
        /* positioning */
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        /* frame-sizing */
        width: 90%;
        height: fit-content;
        padding: 0;
        /* frame styling */
        background-color: #2c2c2c00;
        border-radius: 0;
    }
    #wilkommen_screen_text p,
    #datenabfrage_screen_text p,
    #pläne_overview_screen_text p,
    #nutrition_tracking_text p{
        /* sizing */
        width: fit-content;
        /* positioning */
        text-align: center;
        margin: auto;
        /* text styling */
        font-size: 12px;
        padding: 0;
    }
    #wilkommen_screen_text h1,
    #datenabfrage_screen_text h1,
    #pläne_overview_screen_text h1,
    #nutrition_tracking_text h1{
        /* sizing */
        width: 100%;
        /* text styling */
        text-align: center;
        font-size: 20px;
    }
    
    .body_section_four{
        /* position */
        margin-top: 160px;
        margin-bottom: 100px;
    }
    #body_section_four_reach_out{
        /* sizing */
        width: 300px;
    }
    #body_section_four_reach_out h1{
        /* text style */
        font-size: 20px;
        text-align: left;
    }
    #body_section_four_reach_out div{
        /* text style */
        font-size: 11px;
    }
    #body_section_four_reach_out div b, #body_infotexte_what_is_ectomorph div b{
        /* text style */
        font-size: 11px;
    }
    #body_section_four_reach_out h3{
        /* sizing */
        width: 100%;
        /* positioning */
        margin-top: 20px;
        /* text style */
        font-size: 15px;
        text-align: left;
    }

    #body_infotexte_what_is_ectomorph{
        /* sizing */
        width: 300px;
        /* positioning */
        margin-top: 160px;
    }
    #body_infotexte_what_is_ectomorph h1{
        /* text style */
        font-size: 17px;
    }
    #body_infotexte_what_is_ectomorph_cards h2{
        /* text styling */
        font-size: 16px;
    } 
    #body_infotexte_what_is_ectomorph_cards{
        /* sizing */
        width: 260px;
        /*posistion*/
        margin-top: 10px;
        /*content alignment*/
        gap:200px;
        padding: 10px 0px;
    }
    #body_infotexte_what_is_ectomorph_cards ul{
        /* sizing */
        width: 260px;
        height: 200px;
        border-radius: 23px;
        padding: 20px;
        /* text styling */
        line-height: 135%;
        scroll-snap-align: center;
    }
    #body_infotexte_what_is_ectomorph_cards li{
        /* text alignment */
        margin-top: 10px;
        /* text style */
        font-size: 12px;
    }
    #body_infotexte_what_is_ectomorph h3{
        /* sizing */
        width: 95%;
        /* positioning */
        margin-top: 30px;
        margin-left: 2px;
        /* text style */
        font-size: 14px;
        text-align: center;
        line-height: 160%;
    }
    #body_infotexte_what_is_ectomorph_cards::-webkit-scrollbar{
        height: 12px;
    }
    #body_infotexte_what_is_ectomorph_cards::-webkit-scrollbar-thumb {
        background: #4a4a4a;
        border: solid 2px #666666;
        border-radius: 50px;
    }

    .body_section_five{
        /* sizing */
        width: fit-content;
        /* positioning */
        margin-bottom: 20px;
        /* content alignment */
        gap: 12px;
    }
    .body_section_five img{
        /* sizing */
        width: 50px;
    }

    .body_section_six{
        /* sizing */
        width: 98%;
        height: fit-content;
        border-radius: 20px;
        /* frame styling */
        background-color: #2c2c2c00;
    }
    .body_section_six img{
        display: none;
    }
    #body_section_six_right{
        /* sizing */
        width: 100%;
        /* content alignment */
        padding: 20px;
        align-items: left;
    }
    .body_section_six input, .body_section_six textarea{
        /* text stlying */
        font-size: 16px;
        /* content alignment */
        padding: 10px 20px;
    }
    #body_section_six_message textarea{
        /* sizing */
        border-radius: 15px;
        max-height: 200px;
    }
    .body_section_six ::placeholder{
        /* text styling */
        font-size: 16px;
    }
    #body_section_six_right h1{
        /* text styling */
        font-size: 28px;
        text-transform: uppercase;
        /* positioning */
        margin: auto;
    }
    #body_section_six_right button{
        /* content alignment */
        gap: 5px;
        padding: 5px 20px;
        /* text stlying */
        font-size: 20px;
    }
    #body_section_six_right button img{
        /* display */
        display: flex;
        /* sizing */
        width: 18px;
    }

    footer{
        /* sizing */
        width: 100%;
        height: fit-content;
        /* content alignment */
        display: flex;
        padding: 4%;
        padding-bottom: 50px;
    }
    .footer_content{
        /* content alignment */
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    #footer_cleanmuscle c, #footer_cleanmuscle muscle{
        /* text styling */
        font-size: 14px;
    }
    #footer_cleanmuscle lean{
        /* text styling */
        font-size: 14px;
    }
    .footer_content h3{
        /* text styling */
        font-size: 20px;
    }
    .footer_content a{
        font-size: 16px;
    }
    #footer_navigate div, #footer_contact div, #footer_rechtliches div{
        /* positioning */
        margin-top: 8px;
    }
    #footer_contact h4{
        font-size: 18px;
    }
    .footer_content_2ndrow{
        /* positioning */
        margin-top: 58px;
        margin-left: 0px;
    }
    .footer_content_2ndrow h3{
        /* text styling */
        font-size: 20px;
        text-align: left;
    }
    .footer_content_2ndrow div{
        /* sizing */
        width: fit-content;
        /* content alignment */
        gap: 10px;
    }
    .footer_content_2ndrow img{
        /* sizing */
        object-fit: contain;
        width: 100%;
        max-width: 80px;
    }
}

/* HOVER ANIMATIONS */
#header_about:hover{
    /* text style */
    color: #FFFFFF;
    transform: scale(1.02);
    transition-duration: 0.15s;
    cursor: pointer;
}
#header_dieappholen:hover{
    transform: scale(1.03);
    transition-duration: 0.15s;
    cursor: pointer;
}

#body_button_dieappholen:hover{
    transform: scale(1.03);
    transition-duration: 0.15s;
    cursor: pointer;
}

.body_section_five img:hover{
    transform: scale(1.03);
    transition-duration: 0.15s;
    cursor: pointer;
}

#body_section_six_right button:hover{
    transform: scale(1.03);
    transition-duration: 0.15s;
    cursor: pointer;
}

.footer_content a:hover{
    color: #ffffff;
    transition-duration: 0.15s;
}