* {
  /* text */
  color: var(--primarytxt-clr);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  /* content alignment */
  padding: 0px;
  margin: 0px;
}
:root {
  /* primary background */
  --background-clr: #fff;
  /* secondary background */
  --secondarybg-clr: #000;
  /* header box shadow */
  --boxshadow-header: 0px 4px 60px 0px #dbdbdb;
  /* text (headings and titles) */
  --primarytxt-clr: #000;
  /* subtitles (small text) */
  --secondarytxt-clr: #8a8a8a;
  /* service cards background */
  --cardsbg-clr: #efefef;
}

header {
  /* style */
  box-shadow: none;
}

.darkmode {
  --background-clr: #000;
  --secondarybg-clr: #fff;
  --boxshadow-header: none;
  --primarytxt-clr: #fff;
  --secondarytxt-clr: #888;
  --cardsbg-clr: #1c1c1c;
}

body {
  /* sizing */
  min-height: 1000px;
  /* content alignment */
  display: flex;
  flex-direction: column;
  /* style */
  background-color: var(--background-clr);
}

.subheader {
  width: 100%;
  height: 445px;
  background-color: #000;
  color: #fff;
}

.subheader-content {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: end;
}

.subheader-text {
  max-width: fit-content;
  margin: auto;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -100%);
}

.subheader-text svg {
  position: relative;
  top: 20px;
  scale: 0.94;
}

.subheader-text h1 {
  color: #fff !important;
  font-size: 75px;
  text-wrap: nowrap;
}

.subheader-text h3 {
  color: #fff !important;
  font-size: 46px;
  text-wrap: nowrap;
}

.bragger {
  font-size: 80px;
  font-weight: 400;
  margin: 100px auto;
}

.bragger strong {
  font-weight: 800;
}

.about-us-grid {
  height: 150vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.about-us-grid-item:nth-child(1),
.about-us-grid-item:nth-child(4) {
  place-self: center;
}

.about-us-grid-item:nth-child(2) {
  background: #83be7a;
  border-radius: 100px 0px 0px 100px;
  position: relative;
}

.about-us-grid-item:nth-child(3) {
  background: #8cb0e6;
  border-radius: 0px 100px 100px 0px;
  position: relative;
}

.about-us-grid-item-text {
  width: 70%;
  margin: auto;
}

.intro {
  font-size: 40px;
  font-weight: 400;
  text-align: left;
}

.description {
  font-size: 35px;
  font-weight: 400;
  text-align: left;
}

.about-us-grid-item img {
  position: absolute;
  bottom: 0;
  right: 30%;
}

.headingframe {
  /* content alignment */
  display: grid;
  margin-top: 150px;
}

.headingframe img {
  /* sizing */
  object-fit: contain;
  height: 180px;
  position: relative;
  left: 80px;
}

#heading {
  /* text */
  font-size: 50px;
  /* positioning */
  position: absolute;
  margin: 82px 0px 0px 105px;
}

.value-grid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  margin: 100px auto;
}

.value-grid-item {
  place-self: center;
  aspect-ratio: 500/350;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 2px 10px 5px #bfbfbf40;
  border-radius: 30px;
  padding: 33px 10%;
}

.value-icon {
  height: 100px;
}

.value-grid-item h2 {
  font-size: 30px;
  font-weight: 700;
}

.value-grid-item h3 {
  font-size: 20px;
  font-weight: 400;
}
