*{
  /* text */
  color: var(--primarytxt-clr);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  /* content alignment */
  padding: 0px;
  margin: 0px;
}
:root {
  /* primary background */
  --background-clr: #fff;
  /* secondary background */
  --secondarybg-clr: #000;
  /* header box shadow */
  --boxshadow-header: 0px 4px 60px 0px #dbdbdb;
  /* text (headings and titles) */
  --primarytxt-clr: #000;
  /* subtitles (small text) */
  --secondarytxt-clr: #8a8a8a;
  /* service cards background */
  --cardsbg-clr: #efefef;
  /* personal cards bg */
  --aboutcardsbg-clr: #dedede70;
  /* personal cards border */
  --aboutcardsborder-clr: #dedede;
  /* personal cards box shadow */
  --aboutcardsboxshadow-clr: 0px 4px 8px 0px #afafaf7d;
  /* personal cards description */
  --personalcardsdescr-clr: #8a8a8a; 
}

.darkmode {
  --background-clr: #000;
  --secondarybg-clr: #fff;
  --boxshadow-header: none;
  --primarytxt-clr: #fff;
  --secondarytxt-clr: #888;
  --cardsbg-clr: #1c1c1c;
  --aboutcardsbg-clr: #6d6d6d70;
  --aboutcardsborder-clr: #6d6d6d;
  --aboutcardsboxshadow-clr: 0px 4px 8px 0px #8484847d;
  --personalcardsdescr-clr: #d3d3d3; 
}

body{
  /* content alignment */
  display: flex;
  flex-direction: column;
  /* style */
  background-color: var(--background-clr);
}

.subheader {
  width: 100%;
  height: 445px;
  background-color: #000;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 76%, #d8d8d8 98%);
}

.subheadingtxt {
  max-width: fit-content;
  margin: 30px auto 0px auto;
  text-align: center;
}

.subheadingtxt img {
  height: 75px;
  position: relative;
  top: 20px;
}

.subheadingtxt h1 {
  font-size: 75px;
}

.subheadingtxt h3 {
  font-size: 46px;
}

.aboutus{
  width: 90%;
  height: fit-content;
  position: relative;
  margin: 0px auto;
}

.bgforms{
  object-fit: contain;
  width: 80%;
}

.personalcardsframe{
  width: 75%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.personalcards{
  width: 100%;
  height: fit-content;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
}

.personalcard{
  width: 46%;
  height: 680px;
  max-height: 100%;
  background-color: var(--aboutcardsbg-clr);
  border: 1px solid var(--aboutcardsborder-clr);
  border-radius: 35px;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  box-shadow: var(--aboutcardsboxshadow-clr);
  display: flex;
  flex-direction: column;
}

.cardimgandtxt{
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.profilepic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0px auto;

  border: 1px solid red;
}

.personalcardtxt{
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  margin-top: 30px;
  max-height: 60%;
}

.personalcardtxt h2, h3, p{
  text-align: left;
}

.employeeposition{
  font-size: 30px;
  color: var(--primarytxt-clr);
}
.employeename{
  font-size: 25px;
  font-weight: 500;

}
.employeedescription{
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 140%;
  overflow: scroll;
  color: var(--personalcardsdescr-clr);
}

.headingframe {
  /* size */
  width: 90%;
  /* content alignment */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  margin-top: 30px;
}

.headingframe img {
  /* sizing */
  object-fit: contain;
  height: 180px;
}

#heading {
  /* text */
  font-size: 50px;
  /* positioning */
  position: absolute;
  margin: 85px 0px 0px 0px;
}
.valueheadingmobile{
  display: none;
}

.valuecards {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  margin: 30px auto 100px auto;
}

.valuecard {
  place-self: center;
  aspect-ratio: 500/350;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 2px 10px 5px #bfbfbf40;
  border-radius: 30px;
  padding: 33px 10%;
  background-color: #f7f7f7;
}

.darkmode .valuecard {
  background-color: #212121;
}

.valuecardicon {
  height: 100px;
}

.valuecard h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--primarytxt-clr);
}

.valuecard h3 {
  width: 90%;
  margin: 0px auto;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: var(--primarytxt-clr);
}

@media only screen and (max-width: 600px){
  .subheader {
    width: 100%;
    height: 156px;
  }
  .subheader-content{
    height: 100%;
    overflow-x: hidden;
    display: flex;
    position: relative;
  }
  .subheader-content img{
    object-fit: contain; 
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .subheadingtxt {
    max-width: fit-content;
    margin: 30px auto 0px auto;
    text-align: center;
  }
  .subheadingtxt img {
    height: 30px;
    position: relative;
    top: 8px;
  }
  .subheadingtxt h1 {
    font-size: 30px;
  }
  .subheadingtxt h3 {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  
  .aboutus{
    width: 100%;
    height: 500px;
    min-height: 500px;
    max-height: 500px;
    position: relative;
    margin: 20px auto 0px auto;
    overflow-x: hidden;
  }
  .bgforms{
    object-fit: contain;
    width: 150%;
    margin: 0px auto;
    max-width: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .personalcardsframe{
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow-x: scroll;
  }
  
  .personalcards{
    width: fit-content;
    height: fit-content;
    max-height: unset;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0px 3.5%;
  }
  
  .personalcard{
    width: 308px;
    max-width: 100%;
    height: 485px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  
  .cardimgandtxt{
    width: 88%;
    height: 88%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .profilepic{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0px auto;
  }
  
  .personalcardtxt{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    margin-top: 0px;
    max-height: unset;
  }

  .personalcardtxt h2, h3, p{
    line-height: 90%;
  }
  
  .personalcardtxt h2{
    font-size: 25px;
  }

  .personalcardtxt h3{
    font-size: 20px;
    margin-top: 5px;
  }

  .personalcardtxt p{
    font-size: 18px;
    margin-top: 15px;
  }
  
  .valueheadingdesktop{
    display: none;
  }
  .valueheadingmobile{
    display: block;
  }
  .headingframe {
    /* size */
    width: 100%;
    /* positioning */
    margin-top: 50px;
  }
  .headingframe img {
    /* sizing */
    object-fit: contain;
    height: unset;
  }
  #heading {
    /* text */
    font-size: 25px;
    /* positioning */
    position: absolute;
    margin: 43px 0px 0px 0px;
  }

  .valuecards {
    width: 83%;
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    grid-template-rows: unset;
    gap: 20px;
    margin: 20px auto 80px auto;
  }

  .valuecard {
    place-self: center;
    aspect-ratio: unset;
    width: calc(100% - 30px);
    height: fit-content;
    max-height: 273px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    box-shadow: 0px 2px 8px 3px #7d7d7d40;
    border-radius: 30px;
    padding: 35px 15px;
  }

  .valuecardicon {
    height: 85px;
  }

  .valuecard h2 {
    font-size: 25px;
    width: 100%;
    text-align: center;
    font-weight: 700;
  }

  .valuecard h3 {
    width: 100%;
    margin: 0px auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 110%;
  }
}
