html{
  scroll-behavior: smooth;
}

:root {
  /* primary background */
  --background-clr: #fff;
  /* secondary background */
  --secondarybg-clr: #000;
  /* header box shadow */
  --boxshadow-header: 0px 4px 60px 0px #dbdbdb;
  /* text (headings and titles) */
  --primarytxt-clr: #000;
  /* subtitles (small text) */
  --secondarytxt-clr: #8A8A8A;
  /* service cards background */
  --cardsbg-clr: #EFEFEF;
}
.darkmode {
  --background-clr: #000;
  --secondarybg-clr: #fff;
  --boxshadow-header: none;
  --primarytxt-clr: #fff;
  --secondarytxt-clr: #888;
  --cardsbg-clr: #1C1C1C;
}

header{
  /* content alignment */
  padding: 1rem 3.5rem;
  /* style */
  background-color: var(--background-clr);
  box-shadow: var(--boxshadow-header);
  /* positioning */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.headerframe{
  /* sizing */
  width: 100%;
  height: fit-content;
  /* content alignment */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#headerlogo{
  /* size */
  object-fit: contain;
  height: 35px;
}
.headerlinksandicon{
  /* sizing */
  width: 40%;
  height: fit-content;
  min-width: 460px;
  /* content alignment */
  display: flex;
  gap: 10%;
  align-items: center;
}
.headerlinks{
  /* sizing */
  width: 100%;
  height: fit-content;
  /* content alignment */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text */
  font-size: 16px;
}
.headerbutton{
  /* sizing */
  width: 130px;
  height: 40px;
  border-radius: 10px;
  /* text */
  font-size: 16px;
  color: #fff;
  /* button style */
  background-color: #0066FF;
  border: none;
  cursor: pointer;
}
.headerbutton:hover{
  /* cursor */
  cursor: pointer;
  /* transformation */
  transform: scale(1.02);
  transition: 0.2s;
}
.headerlinks a:hover{
  /* text */
  color: #0066FF;
}
#darklightmodeiconsvg{
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
#darklightmodeiconsvg:hover{
  background-color: var(--cardsbg-clr);
  cursor: pointer;
}

footer{
  /* sizing */
  height: 350px;
  /* style */
  background-color: #000;
  /* positioning */
  margin-top: 100px;
  /* content alignment */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 4.8rem 2rem 4.8rem;
}
.footersection1{
  /* content alignment */
  display: flex;
  justify-content: space-between;
}
footer p,h2{
  /* text */
  color: #fff;
}
footer h2{
  /* text */
  font-size: 20px;
}
footer p{
  /* text */
  font-size: 18px;
}
.footersocial a, .footernavigation a, .footerlegal a{
  /* text */
  font-size: 18px;
  color: #fff;
}
.footernavigation a:hover, .footerlegal a:hover{
  /* style */
  color: #0066FF;
}
.footerlogomailtel{
  /* content alignment */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  /* positioning */
  margin-right: 100px;
}
#footerlogo{
  /* sizing */
  object-fit: contain;
  width: 250px;
}
.telandmail{
  /* sizing */
  width: 190px;
  /* content alignment */
  display: flex;
  justify-content: space-between;
}
.footersocial, .footernavigation, .footerlegal{
  /* content alignment */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.socialicon{
  /* style */
  color: #fff;
  /* positioning */
  margin-right: 10px;
}
.fa-youtube{
  /* positioning */
  margin-right: 6px;
}
#linkedinlink:hover{
  /* style */
  background: #0E76A8;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#instagramlink:hover{
  /* style */
  background: -webkit-linear-gradient(45deg,#f58529, #feda77, #dd2a7b, #8134af, #515bd4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#youtubelink:hover{
  /* style */
  background: #c4302b;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footersection2{
  /* size */
  width: 100%;
  height: 30px;
  /* content alignment */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.devideline{
  /* sizing */
  width: 100%;
  /* style */
  color: #232323;
}
.footersection2 p, .footersection2 a{
  /* text */
  font-size: 14px;
  text-decoration: underline;
  color: #505050;
}
.footersection2 p{
  /* style */
  text-decoration: none;
}
.footersection2 div{
  /* sizing */
  width: 40%;
  /* content alginment */
  display: flex;
  justify-content: space-between;
  /* positioning */
  margin: 0px auto;
}