*{
  /* text */
  color: var(--primarytxt-clr);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  /* content alignment */
  padding: 0px;
  margin: 0px;
}
:root {
  /* primary background */
  --background-clr: #fff;
  /* secondary background */
  --secondarybg-clr: #000;
  /* header box shadow */
  --boxshadow-header: 0px 4px 60px 0px #dbdbdb;
  /* text (headings and titles) */
  --primarytxt-clr: #000;
  /* subtitles (small text) */
  --secondarytxt-clr: #8A8A8A;
  /* service cards background */
  --cardsbg-clr: #EFEFEF;
}

.darkmode {
  --background-clr: #000;
  --secondarybg-clr: #fff;
  --boxshadow-header: none;
  --primarytxt-clr: #fff;
  --secondarytxt-clr: #888;
  --cardsbg-clr: #1C1C1C;
}

body{
  /* sizing */
  min-height: 1000px;
  /* content alignment */
  display: flex;
  flex-direction: column;
  /* style */
  background-color: var(--background-clr);
}

.project{
  /* sizing */
  width: 90%;
  height: 530px;
  /* content alignment */
  display: flex;
  justify-content: space-between;
  /* positioning */
  margin: 50px auto 70px auto;
}
.companycard{
  /* sizing */
  width: 30%;
  height: 100%;
  border-radius: 35px;
  /* style */
  background-color: var(--cardsbg-clr);
}
.projectpictures{
  /* sizing */
  width: 65%;
  height: 100%;
  border-radius: 35px;
}