*{
  /* text */
  color: var(--primarytxt-clr);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  /* content alignment */
  padding: 0px;
  margin: 0px;
}
:root {
  /* primary background */
  --background-clr: #fff;
  /* secondary background */
  --secondarybg-clr: #000;
  /* header box shadow */
  --boxshadow-header: 0px 4px 60px 0px #dbdbdb;
  /* text (headings and titles) */
  --primarytxt-clr: #000;
  /* subtitles (small text) */
  --secondarytxt-clr: #8A8A8A;
  /* service cards background */
  --cardsbg-clr: #EFEFEF;
}

.darkmode {
  --background-clr: #000;
  --secondarybg-clr: #fff;
  --boxshadow-header: none;
  --primarytxt-clr: #fff;
  --secondarytxt-clr: #888;
  --cardsbg-clr: #1C1C1C;
}

body{
  /* content alignment */
  display: flex;
  flex-direction: column;
  /* style */
  background-color: var(--background-clr);
  /* sizing */
  max-width: 1500px;
  margin: 0px auto 0px auto;
}

.project{
  /* sizing */
  width: 90%;
  height: 530px;
  /* content alignment */
  display: flex;
  justify-content: space-between;
  /* positioning */
  margin: 50px auto 70px auto;
}
.companycard{
  /* sizing */
  width: 30%;
  height: 100%;
  border-radius: 35px;
  /* style */
  background-color: var(--cardsbg-clr);
  box-shadow: 0px 0px 20px 2px var(--cardsbg-clr);
  /* content alignment */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.companycard p{
  /* text */
  font-size: 22px;
  text-align: center;
}
.projectimpression{
  /* sizing */
  width: 65%;
  height: 100%;
  border-radius: 35px;
}

.karatevideo{
  /* content alignment */
  position: relative;
  overflow: hidden;
}
.videobanner{
  /* content alignment */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}
.videobanner video{
  /* sizing */
  min-width: 100%;
  min-height: 100%;  
  /* positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.videobanner video::-webkit-media-controls {
  display: none;
}
.h1andbuttovervideo{
  /* sizing */
  width: fit-content;
  /* positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  /* content alignment */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.h1andbuttovervideo h1{
  /* text */
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: #fff;
}
.linktofullvideo button{
  /* sizing */
  width: fit-content;
  padding: 0px 45px;
  height: 70px;
  border-radius: 15px;
  /* style */
  background-color: #fff;
  border: none;
  /* text */
  font-size: 25px;
  font-weight: bold;
  color: #000;
  /* animation */
  -moz-animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px #ffffff;
  }
  100% {
    box-shadow: 0px 0px 0px 20px #ffffff00;
  }
}
.playicon{
  /* positioning */
  margin-right: 20px;
}
.linktofullvideo button:hover{
  /* cursor */
  cursor: pointer;
  /* transformation */
  transform: scale(1.02);
  transition: 0.2s;
}

.karatelogo{
  /* sizing */
  object-fit: contain;
  width: 45%;
}
.projectdescr{
/* sizing */
  width: 70%;
}

.imagesliderframe{
  /* content alignment */
  position: relative;
  overflow: hidden;
}
.imageslider{
  /* sizing */
  height: 100%;
  /* content alignment */
  display: flex;
}
.slide{
  /* sizing */
  min-width: 100%;
}
.slide img{
  /* sizing */
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.slidecontrols{
  /* sizing */
  width: 99%;
  /* positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* content alignment */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#previmgbtn, #nextimgbtn{
  /* sizing */
  height: fit-content;
  width: fit-content;
  /* content alignment */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  /* style */
  border: none;
  border-radius: 50%;
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
#previmgbtn{
  /* positioning */
  position: absolute;
  left: 0;
  top: 0;
}
#nextimgbtn{
  /* positioning */
  position: absolute;
  right: 0;
  top: 0;
}
#previmgbtn:hover, #nextimgbtn:hover{
  /* style */
  transform: scale(1.08);
  transition: 0.2s;
  /* cursor */
  cursor: pointer;
}
#previmgbtn i, #nextimgbtn i{
  /* sizing */
  font-size: 40px;
  /* style */
  color: var(--secondarytxt-clr);
  backdrop-filter: blur(10px);
}
#previmgbtn i{
  /* sizing */
  rotate: -90deg;
}
#nextimgbtn i{
  /* sizing */
  rotate: 90deg;
}

.emptyprojectimpression{
  /* style */
  background-color: var(--cardsbg-clr);
  filter: blur(5px);
}
.emptyprojectcompanycard{
  /* style */
  filter: blur(5px);
}

@media only screen and (max-width: 600px){
  .project{
    /* sizing */
    width: 100%;
    height: fit-content;
    /* content alignment */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    /* positioning */
    margin: 25px auto 35px auto;
  }
  .companycard{
    /* sizing */
    width: 83%;
    height: 210px;
    border-radius: 20px;
    /* style */
    box-shadow: 0px 0px 20px 2px var(--cardsbg-clr);
    /* content alignment */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    /* positioning */
    margin: 0px auto 0px auto;
  }
  .companycard p{
    display: none;
  }
  .projectimpression{
    /* sizing */
    width: 83%;
    height: fit-content;
    min-height: 200px;
    border-radius: 20px;
    margin: 0px auto 0px auto;
  }

  .sportkaratewegbergwassenberg{
    flex-direction: column-reverse;
  }
  .karatevideo{
    /* size */
    height: 400px;
    /* positioning */
    margin-top: -50px;
    z-index: 0;
  }
  .h1andbuttovervideo{
    /* content alignment */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .h1andbuttovervideo h1{
    /* text */
    text-align: center;
    font-size: 20px;
    width: 100%;
  }
  .h1andbuttovervideo h1 br{
    display: none;
  }
  .linktofullvideo button{
    /* sizing */
    padding: 0px 20px;
    height: 50px;
    border-radius: 10px;
    /* text */
    font-size: 18px;
  }
  .playicon{
    /* positioning */
    margin-right: 10px;
  }
  @keyframes pulse {
    0% {
      box-shadow: 0px 0px 0px 0px #ffffff;
    }
    100% {
      box-shadow: 0px 0px 0px 15px #ffffff00;
    }
  }
  .karatecard{
    justify-content: unset;
  }
  .karatelogo{
    /* sizing */
    object-fit: contain;
    width: 42%;
    /* positioning */
    margin-top: 20px;
  }

  .imagesliderframe{
    /* size */
    width: 100%;
    height: fit-content;
    border-radius: 0px;
    /* content alignment */
    position: relative;
    overflow: hidden;
    /* positioning */
    margin-top: 30px;
  }
  .imageslider{
    /* sizing */
    height: fit-content;
    /* content alignment */
    display: flex;
  }
  .slide{
    /* sizing */
    min-width: 100%;
    /* content alignment */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
  }
  .slide img{
    /* sizing */
    object-fit: contain;
    width: 90%;
    height: 100%;
    /* positioning */
    margin: auto 0px auto 0px;
  }
  .slide2 img, .slide3 img{
    /* size */
    object-fit: contain;
    height: 300px;
  }
  .slidecontrols{
    /* sizing */
    width: 90%;
  }
  #previmgbtn i, #nextimgbtn i{
    /* sizing */
    font-size: 35px;
  }
}