*{
  /* text */
  color: var(--primarytxt-clr);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  /* content alignment */
  padding: 0px;
  margin: 0px;
}
:root {
  /* primary background */
  --background-clr: #fff;
  /* secondary background */
  --secondarybg-clr: #000;
  /* header box shadow */
  --boxshadow-header: 0px 4px 60px 0px #dbdbdb;
  /* text (headings and titles) */
  --primarytxt-clr: #000;
  /* subtitles (small text) */
  --secondarytxt-clr: #8A8A8A;
  /* service cards background */
  --cardsbg-clr: #EFEFEF;
}

.darkmode {
  --background-clr: #000;
  --secondarybg-clr: #fff;
  --boxshadow-header: none;
  --primarytxt-clr: #fff;
  --secondarytxt-clr: #888;
  --cardsbg-clr: #1C1C1C;
}

body{
  /* sizing */
  min-height: 1000px;
  /* content alignment */
  display: flex;
  flex-direction: column;
  /* style */
  background-color: var(--background-clr);
}

.project{
  /* sizing */
  width: 90%;
  height: 530px;
  /* content alignment */
  display: flex;
  justify-content: space-between;
  /* positioning */
  margin: 50px auto 70px auto;
}
.companycard{
  /* sizing */
  width: 30%;
  height: 100%;
  border-radius: 35px;
  /* style */
  background-color: var(--cardsbg-clr);
  box-shadow: 0px 0px 20px 2px var(--cardsbg-clr);
  /* content alignment */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.companycard p{
  /* text */
  font-size: 22px;
  text-align: center;
}
.projectimpression{
  /* sizing */
  width: 65%;
  height: 100%;
  border-radius: 35px;
}

.karatevideo{
  /* content alignment */
  position: relative;
  overflow: hidden;
}
.videobanner{
  /* content alignment */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}
.videobanner video{
  /* sizing */
  min-width: 100%;
  min-height: 100%;  
  /* positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.h1andbuttovervideo{
  /* sizing */
  width: fit-content;
  /* positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  /* content alignment */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.h1andbuttovervideo h1{
  /* text */
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: #fff;
}
.linktofullvideo button{
  /* sizing */
  width: fit-content;
  padding: 0px 45px;
  height: 70px;
  border-radius: 15px;
  /* style */
  background-color: #fff;
  border: none;
  /* text */
  font-size: 25px;
  font-weight: bold;
  color: #000;
  /* animation */
  -moz-animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px #ffffff;
  }
  100% {
    box-shadow: 0px 0px 0px 20px #ffffff00;
  }
}
.playicon{
  /* positioning */
  margin-right: 20px;
}
.linktofullvideo button:hover{
  /* cursor */
  cursor: pointer;
  /* transformation */
  transform: scale(1.02);
  transition: 0.2s;
}

.karatelogo{
  /* sizing */
  object-fit: contain;
  width: 45%;
}
.projectdescr{
/* sizing */
  width: 70%;
}

.imagesliderframe{
  /* content alignment */
  position: relative;
  overflow: hidden;
}
.imageslider{
  /* sizing */
  height: 100%;
  /* content alignment */
  display: flex;
}
.slide{
  /* sizing */
  min-width: 100%;
}
.slide img{
  /* sizing */
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.slidecontrols{
  /* sizing */
  width: 99%;
  /* positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* content alignment */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#previmgbtn, #nextimgbtn{
  /* sizing */
  height: fit-content;
  width: fit-content;
  /* content alignment */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  /* style */
  border: none;
  border-radius: 50%;
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
#previmgbtn{
  /* positioning */
  position: absolute;
  left: 0;
  top: 0;
}
#nextimgbtn{
  /* positioning */
  position: absolute;
  right: 0;
  top: 0;
}
#previmgbtn:hover, #nextimgbtn:hover{
  /* style */
  transform: scale(1.08);
  transition: 0.2s;
  /* cursor */
  cursor: pointer;
}
#previmgbtn i, #nextimgbtn i{
  /* sizing */
  font-size: 40px;
  /* style */
  color: var(--secondarytxt-clr);
  backdrop-filter: blur(10px);
}
#previmgbtn i{
  /* sizing */
  rotate: -90deg;
}
#nextimgbtn i{
  /* sizing */
  rotate: 90deg;
}
.vamoslogo{
  
}

.emptyprojectimpression{
  /* style */
  background-color: var(--cardsbg-clr);
  filter: blur(5px);
}
.emptyprojectcompanycard{
  /* style */
  filter: blur(5px);
}