*{
  /* text */
  color: var(--primarytxt-clr);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  /* content alignment */
  padding: 0px;
  margin: 0px;
}
:root {
  /* primary background */
  --background-clr: #fff;
  /* secondary background */
  --secondarybg-clr: #000;
  /* header box shadow */
  --boxshadow-header: 0px 4px 60px 0px #dbdbdb;
  /* text (headings and titles) */
  --primarytxt-clr: #000;
  /* subtitles (small text) */
  --secondarytxt-clr: #8A8A8A;
  /* service cards background */
  --cardsbg-clr: #EFEFEF;
}

.darkmode {
  --background-clr: #000;
  --secondarybg-clr: #fff;
  --boxshadow-header: none;
  --primarytxt-clr: #fff;
  --secondarytxt-clr: #888;
  --cardsbg-clr: #1C1C1C;
}

body{
  /* style */
  background-color: var(--background-clr);
}

.landing{
  /* sizing */
  width: 90%;
  height: fit-content;
  /* positioning */
  margin: 70px auto 0px auto;
  /* content alignment */
  display: flex;
  justify-content: space-between;
}
.landingtext{
  /* sizing */
  width: 50%;
  height: 400px;
  /* content alignment */
  display: grid;
  /* positioning */
  margin: auto 0px auto 0px;
}
.landingtext h1{
  /* text */
  color: var(--primarytxt-clr);
  text-align: left;
  font-size: 60px;
  font-weight: bolder;
}
.landingtext h3{
  /* text */
  color: var(--secondarytxt-clr);
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  /* positioning */
  margin-top: 10px;
}
.button{
  /* sizing */
  width: 214px;
  height: 65px;
  border-radius: 15px;
  /* text */
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  /* button style */
  background-color: #0066FF;
  border: none;
}
.landingbutton{
    /* positioning */
  margin-top: 35px;
}
.landingtext a{
  /* sizing */
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
}
.button:hover{
  /* cursor */
  cursor: pointer;
  /* transformation */
  transform: scale(1.02);
  transition: 0.2s;
}
.illustrations{
  /* sizing */
  width: 44%;
  min-width: 450px;
  height: fit-content;
  /* positioning */
  margin: auto 0px auto 0px;
}
.illustrations img{
  /* sizing */
  object-fit: contain;
  width: 100%;
}

.services{
  /* sizing */
  width: 90%;
  /* positioning */
  margin: 120px auto 0px auto;
}
.headingframe{
  /* content alignment */
  display: grid;
}
#bgheading{
  /* sizing */
  object-fit: contain;
  height: 180px;
}
#heading{
  /* text */
  font-size: 50px;
  /* positioning */
  position: absolute;
  margin: 85px 0px 0px 22px;
}
.servicesandcalltoaction{
  /* sizing */
  width: 100%;
  /* positioning */
  margin-top: 10px;
}
.servicecards{
  /* sizing */
  width: 100%;
  /* content alignment */
  display: flex;
  justify-content: space-between;
}
.card{
  /* sizing */
  width: 31.5%;
  height: 340px;
  border-radius: 45px;
  /* style */
  background-color: var(--cardsbg-clr);
  /* content alignment */
  display: grid;
}
.cardcontent{
  /* sizing */
  width: 83%;
  height: 80%;
  /* content alignment */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  /* positioning */
  margin: auto;
}
.cardcontent img{
  /* sizing */
  object-fit: contain;
  height: 55px;
}
.cardcontent h2{
  /* text */
  font-size: 36px;
  text-align: left;
  color: var(--primarytxt-clr);
}
.cardcontent p{
  /* sizing */
  width: 90%;
  /* text */
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondarytxt-clr);
}
#servicesubheading{
  /* sizing */
  width: 75%;
  /* text */
  font-size: 35px;
  color: var(--primarytxt-clr);
  /* positioning */
  margin: 60px auto 0px auto;
}
#calltoactionbutton{
  /* positioning */
  margin-top: 35px;
}
#servicesubheading a{
  /* sizing */
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
}

.clients{
  /* sizing */
  width: 90%;
  /* positioning */
  margin: 90px auto 0px auto;
}
.clientsliderouterframe{
  /* size */
  width: 80%;
  /* positioning */
  margin: 0px auto;
  /* content alignment */
  position: relative;
}
.clientsliderframe{
  /* size */
  width: calc(100% - 50px);
  /* content alignment */
  overflow-x: hidden;
  /* positioning */
  margin: 0px auto;
}
.clientslider{
  /* size */
  width: 100%;
  /* positioning */
  margin: 0px auto;
  /* content alignment */
  display: flex;
}
.slidercontrols{
  /* size */
  width: 100%;
  height: 100%;
  /* content alignment */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* positioning */
  position: absolute;
  top: 0;
}
#previmgbtn, #nextimgbtn{
  /* sizing */
  height: fit-content;
  width: fit-content;
  /* content alignment */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  /* style */
  border: none;
  border-radius: 50%;
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
#previmgbtn:hover, #nextimgbtn:hover{
  /* style */
  transform: scale(1.08);
  transition: 0.2s;
  /* cursor */
  cursor: pointer;
}
#previmgbtn i, #nextimgbtn i{
  /* sizing */
  font-size: 40px;
  /* style */
  color: var(--secondarybg-clr);
  backdrop-filter: blur(10px);
}
#previmgbtn i{
  /* sizing */
  rotate: -90deg;
}
#nextimgbtn i{
  /* sizing */
  rotate: 90deg;
}
.slide{
  /* sizing */
  min-width: calc(100% - 100px);
  height: 460px;
  border-radius: 50px;
  /* content alignment */
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 50px;
}
.slidetxt{
  /* sizing */
  width: 58%;
  height: fit-content;
  /* content alignment */
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* positioning */
  margin: auto 0px auto 0px;
}
.slidetxt h1, h3{
  /* text */
  text-align: left;
  color: #fff;
}
.slideimgbg{
  /* sizing */
  height: 100%;
  width: 36%;
  min-width: 250px;
  border-radius: 35px;
  align-items: last baseline;
  /* content alignment */
  display: flex;
  flex-direction: column-reverse;
  padding: 10px 10px 0px 10px;
  overflow: hidden;
}
.slideimgbg img{
  /* sizing */
  object-fit: contain;
  height: 95%;
}
.yellowslide{
  /* style */
  background-color: #FFE978;
}
.yellowslideimgbg{
  /* style */
  background-color: #FFF2B0;
}
.blueslide{
  /* style */
  background-color: #8CB0E6;
}
.blueslideimgbg{
  /* style */
  background-color: #94BDFA;
}
.greenslide{
  /* style */
  background-color: #83BE7A;
}
.greenslideimgbg{
  /* style */
  background-color: #95D18C;
}

.contact{
  /* sizing */
  width: 90%;
  /* positioning */
  margin: 120px auto 200px auto;
}
.contactinputs{
  /* sizing */
  width: 93%;
  /* content alignment */
  display: flex;
  justify-content: space-between;
  gap: 40px;
  /* positioning */
  margin: 25px auto 0px auto;
}
.contactinputsleft{
  /* sizing */
  width: 100%;
  height: 300px;
  /* content alignment */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}
.contactinputs input{
  /* sizing */
  width: 85%;
  /* style */
  border: none;
  border-bottom: 2px solid #A2A2A2;
  background-color: transparent;
  transition: 1s;
  /* text */
  text-align: left;
  font-size: 20px;
  color: var(--primarytxt-clr);
  /* content alignment */
  padding: 15px 4% 15px 4%;
}
.contactinputs input::placeholder{
  /* text */
  font-size: 18px;
  font-weight: 200;
  color: var(--secondarytxt-clr);
}
.contactinputs input:hover{
  /* sizing */
  width: 88%;
  transition: 0.2s;
  /* style */
  border-bottom: 2px solid #0066FF;
}
.contactinputs input:focus{
  /* sizing */
  width: 92%;
  transition: 0.5s;
  /* style */
  border-bottom: 2px solid #0066FF;
  outline: none;
}
.contactinputsright{
  /* sizing */
  width: 100%;
  /* content alignment */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.messageframe{
  /* sizing */
  width: 100%;
  height: 75%;
  /* content alignment */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.messageframe p{
  /* text */
  font-size: 18px;
  /* positioning */
  margin-left: 4%;
}
#message{
  /* sizing */
  width: 90%;
  resize: none;
  /* style */
  border: 2px solid #A2A2A2;
  border-radius: 2px;
  background-color: transparent;
  transition: none;
  transition: 0.5s;
  /* text */
  text-align: left;
  font-size: 16px;
  /* content alignment */
  padding: 3%;
}
#message::placeholder{
  /* text */
  font-size: 16px;
  font-weight: 200;
  color: var(--secondarytxt-clr);
}
#message:hover{
  /* style */
  border: 2px solid #0066FF;
  transition: 1s;
}
#message:focus{
  /* style */
  outline: none;
  border: 2px solid #0066FF;
}
.sendbutton{
  /* sizing */
  width: 175px;
  height: 50px;
  border-radius: 8px;
  /* text */
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  /* button style */
  background-color: #0066FF;
  border: none;
}
.fa-paper-plane{
  /* style */
  color: #ffffff;
}
.error-txt p{
  /* text */
  font-size: 14px;
  text-align: left;
  color: #ff5353;
}
.error-txt{
  /* size */
  width: 100%;
  /* display */
  display: none;
}

@media only screen and (max-width: 600px){
  .landing{
    /* sizing */
    width: 85%;
    /* positioning */
    margin: 30px auto 0px auto;
    /* content alignment */
    flex-direction: column;
  }
  .landingtext{
    /* sizing */
    width: 100%;
    height: fit-content;
    /* content alignment */
    display: grid;
    gap: 10px;
    /* positioning */
    margin: auto 0px auto 0px;
  }
  .landingtext h1{
    /* text */
    font-size: 38px;
  }
  .landingtext h3{
    /* text */
    font-size: 18px;
    font-weight: 500;
    /* positioning */
    margin-top: 10px;
  }
  .button{
    /* sizing */
    width: 150px;
    height: 50px;
    border-radius: 10px;
    /* text */
    font-size: 18px;
    font-weight: 500;
  }
  .landingbutton{
    /* positioning */
    margin-top: 20px;
  }
  .landingtext a{
    /* sizing */
    border-radius: 10px;
  }
  .illustrations{
    /* sizing */
    width: 100%;
    min-width: 300px;
    height: fit-content;
    /* positioning */
    margin: 35px auto 0px auto;
  }
  .illustrations img{
    /* sizing */
    width: 100%;
  }
  
  .services{
    /* sizing */
    width: 83%;
    /* positioning */
    margin: 64px auto 0px auto;
  }
  .headingframe{
    /* content alignment */
    margin-left: 0px;
  }
  #bgheading{
    /* sizing */
    height: 73px;
    margin-left: -10px;
  }
  #heading{
    /* size */
    width: fit-content;
    /* text */
    font-size: 25px;
    text-align: left;
    /* positioning */
    margin: 30px 0px 0px 0px;
  }
  .servicesandcalltoaction{
    /* sizing */
    width: 100%;
    /* positioning */
    margin-top: 20px;
  }
  .servicecards{
    /* sizing */
    width: 100%;
    /* content alignment */
    flex-direction: column;
    gap: 18px;
  }
  .card{
    /* sizing */
    width: 100%;
    height: 250px;
    border-radius: 20px;
  }
  .cardcontent{
    /* sizing */
    width: 83%;
    height: 80%;
    /* content alignment */
    gap: 10px;
  }
  .cardcontent img{
    /* sizing */
    height: 48px;
  }
  .cardcontent h2{
    /* text */
    font-size: 20px;
  }
  .cardcontent p{
    /* sizing */
    width: 100%;
    /* text */
    font-size: 16px;
  }
  #servicesubheading{
    /* sizing */
    width: 95%;
    /* text */
    font-size: 25px;
    /* positioning */
    margin: 50px auto 0px auto;
  }
  #calltoactionbutton{
    /* positioning */
    margin-top: 25px;
  }
  #servicesubheading a{
    /* sizing */
    border-radius: 10px;
  }

  .clients{
    /* sizing */
    width: 100%;
    /* positioning */
    margin: 50px auto 0px auto;
  }
  .clientsheadingframe{
    /* size */
    width: 83%;
    /* positioning */
    margin: 0px auto 0px auto;
  }
  .clientsheading{
    /* text */
    letter-spacing: -1px;
  }
  .clientsliderouterframe{
    /* size */
    width: 100%;
    /* positioning */
    margin: 0px auto;
    /* content alignment */
    position: unset;
  }
  .clientsliderframe{
    /* size */
    width: 100%;
    /* content alignment */
    overflow-x: scroll;
    /* positioning */
    margin: 0px auto;
  }
  .clientslider{
    /* size */
    width: fit-content;
    /* positioning */
    margin: 0px auto;
    /* content alignment */
    display: flex;
    gap: 20px;
    padding: 0px 20px;
  }
  .slidercontrols{
    display: none;
  }
  .slide{
    /* sizing */
    min-width: unset;
    max-width: unset;
    width: 255px;
    height: 437px;
    border-radius: 25px;
    /* content alignment */
    display: flex;
    flex-grow: 0;
    flex-direction: column-reverse;
    justify-content: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 50px 25px;
  }
  .slidetxt{
    /* sizing */
    width: 100%;
    /* content alignment */
    gap: 30px;
    /* positioning */
    margin: 20px auto 0px auto;
  }
  .slidetxt h1{
    /* text */
    font-size: 22px;
    line-height: 130%;
  }
  .slidetxt h3{
    /* text */
    font-size: 15px;
  }
  .slideimgbg{
    /* sizing */
    height: 130px;
    width: 150px;
    min-width: unset;
    max-width: unset;
    border-radius: 50%;
    /* content alignment */
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 0px 0px;
    overflow: hidden;
    /* positioning */
    margin: 0px auto;
  }
  .slideimgbg img{
    /* sizing */
    object-fit: contain;
    height: unset;
    width: 75%;
  }

  .contact{
    /* sizing */
    width: 83%;
    /* positioning */
    margin: 50px auto 100px auto;
  }
  .contactinputs{
    /* sizing */
    width: 100%;
    /* content alignment */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    /* positioning */
    margin: 25px auto 0px auto;
  }
  .contactinputsleft{
    /* sizing */
    width: 100%;
    height: 300px;
    /* content alignment */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
  }
  .contactinputs input{
    /* sizing */
    width: 88%;
    /* style */
    border: none;
    border-bottom: 2px solid #A2A2A2;
    background-color: transparent;
    transition: 1s;
    /* text */
    text-align: left;
    font-size: 16px;
    color: var(--primarytxt-clr);
    /* content alignment */
    padding: 15px 4% 15px 4%;
  }
  .contactinputs input::placeholder{
    /* text */
    font-size: 18px;
    font-weight: 200;
    color: var(--secondarytxt-clr);
  }
  .contactinputs input:hover{
    /* sizing */
    width: 90%;
    transition: 0.2s;
    /* style */
    border-bottom: 2px solid #0066FF;
  }
  .contactinputs input:focus{
    /* sizing */
    width: 92%;
    transition: 0.5s;
    /* style */
    border-bottom: 2px solid #0066FF;
    outline: none;
  }
  .messageframe{
    /* sizing */
    width: 100%;
    height: 200px;
    /* content alignment */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .messageframe p{
    /* text */
    font-size: 16px;
    /* positioning */
    margin-left: 4%;
  }
  #message{
    /* sizing */
    width: 92%;
    /* text */
    text-align: left;
    font-size: 16px;
    /* content alignment */
    padding: 3%;
  }
  #message::placeholder{
    /* text */
    font-size: 16px;
    font-weight: 200;
    color: var(--secondarytxt-clr);
  }
  .sendbutton{
    /* sizing */
    width: 155px;
    height: 50px;
    border-radius: 8px;
    /* text */
    font-size: 20px;
    font-weight: 500;
    /* positioning */
    margin-top: 20px;
  }
  .error-txt p{
    /* text */
    font-size: 12px;
    text-align: left;
    color: #ff5353;
  }
}
